@{
    ViewBag.Title = "Detail";
}

<header class="special container">
    <span class="icon fa-certificate"></span>
    <h2>Getting Started with /@ViewBag.Id</h2>
    <p>Use the techniques below to send requests to your hook.</p>
</header>

<section class="wrapper style4 special container small">
    <div class="content">
        <pre>
            curl -X GET @ViewBag.Url
        </pre>
    </div>
</section>